<a href="https://colab.research.google.com/github/alexmarino16/Python-Data-Analysis/blob/main/CSproject2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Computer Science project - MSc Data Science** 
##### Alex Marino & Rogerio De Oliveira Novara

#### The project consists of 13 questions related to 5 datasets. Below are the developments in the order of tasks.

First, let's import the needed libraries

In [38]:
import pandas as pd

#### 1. **Normalize the location field of Users dataset, splitting into city, region, country.**

let's import the **Users** dataset

In [40]:
users = pd.read_csv("https://github.com/gdv/foundationsCS/blob/master/progetti/2021/Users.csv.gz?raw=true", sep=';', encoding='latin-1', compression='gzip')

In [41]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

as we can see, the ***Location*** column contains comma delimited *city*, *region* and *country* values.

let's split the column into three new columns.

In [5]:
users[['City', 'Region', 'Country']] = users['Location'].str.split(',', expand=True, n=2)

In [6]:
users

,User-ID,Location,Age,City,Region,Country
0,1,"nyc, new york, usa",NaN,nyc,new york,usa
1,2,"stockton, california, usa",18.0,stockton,california,usa
2,3,"moscow, yukon territory, russia",NaN,moscow,yukon territory,russia
3,4,"porto, v.n.gaia, portugal",17.0,porto,v.n.gaia,portugal
4,5,"farnborough, hants, united kingdom",NaN,farnborough,hants,united kingdom
...,...,...,...,...,...,...
278853,278854,"portland, oregon, usa",NaN,portland,oregon,usa
278854,278855,"tacoma, washington, united kingdom",50.0,tacoma,washington,united kingdom
278855,278856,"brampton, ontario, canada",NaN,brampton,ontario,canada
278856,278857,"knoxville, tennessee, usa",NaN,knoxville,tennessee,usa
278857,278858,"dublin, n/a, ireland",NaN,dublin,n/a,ireland

notiamo che ci sono n/a

#### 2. **For each book in the Books dataset, compute its average rating.**

let's import **Books** and **Book-Ratings** datasets

In [42]:
books = pd.read_csv("https://github.com/gdv/foundationsCS/blob/master/progetti/2021/Books.csv.gz?raw=true", sep=';', encoding='latin-1', compression='gzip')
book_ratings = pd.read_csv("https://github.com/gdv/foundationsCS/blob/master/progetti/2021/Book-Ratings.csv.gz?raw=true", sep=';', encoding='latin-1', compression='gzip')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [43]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271354,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271355,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271356,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271357,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271358,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [ ]:
book_ratings

To calculate the average ratings of each book we need to use the unique code of each book, contained in the **ISBN** column

Then, we first calculate the average rating for each book from the Book-Ratings dataset and save the results in a new dataframe **average_ratings**

In [45]:
average_ratings = book_ratings[['ISBN', 'Book-Rating']].groupby('ISBN').mean()

In [ ]:
average_ratings

Now, if we also want to display the title of the books and their author, we can join the tables **books** and **average_ratings** using ISBN as key

In [47]:
average_books_ratings = books.join(average_ratings, on='ISBN', how='left')[['Book-Title', 'Book-Author','Book-Rating']]

In [ ]:
average_books_ratings

#### 3. **For each book in the GoodBooks dataset, compute its average rating.**

Let's import **GoodBooks** and **GoodBooks-Rating** datasets

In [17]:
goodbooks = pd.read_csv("https://github.com/gdv/foundationsCS/blob/master/progetti/2021/goodbooks.csv.gz?raw=true", sep=',', encoding='latin-1', compression='gzip')
goodbooks_ratings = pd.read_csv("https://github.com/gdv/foundationsCS/blob/master/progetti/2021/goodbooks-ratings.csv.gz?raw=true", sep=',', encoding='latin-1', compression='gzip')

In [ ]:
goodbooks

In [ ]:
goodbooks_ratings

Let's compute the average rating for each book id and save the results in a new dataframe **bookid_average_ratings**

In [52]:
bookid_average_ratings = goodbooks_ratings[['book_id', 'rating']].groupby('book_id').mean()

In [ ]:
bookid_average_ratings

Now let's join the two tables using *book_id* as the key

In [54]:
average_goodbooks_ratings = goodbooks.join(bookid_average_ratings, on='book_id', how='left')[['book_id', 'original_title', 'authors','rating']]

In [ ]:
average_goodbooks_ratings

#### 4. **Merge together all rows sharing the same book title, author and publisher. We will call the resulting dataset merged books. The books that have not been merged together will not appear in merged books.**

dddddd

In [72]:
merged_books = books.groupby(['Book-Title', 'Book-Author', 'Publisher']).count()
merged_books[]

,,,ISBN,Year-Of-Publication,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,Book-Author,Publisher,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",Karen Hesse,Hyperion Books for Children,1,1,1,1,1
Always Have Popsicles,Rebecca Harvin,Rebecca L. Harvin,1,1,1,1,1
Apple Magic (The Collector's series),Martina Boudreau,Amer Cooking Guild,1,1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",Nancy N. Rue,Zonderkidz,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,Lou Mobley,"Teleonet, Incorporated",1,1,1,1,1
...,...,...,...,...,...,...,...
Ã?Ã?lpiraten.,Janwillem van de Wetering,Rowohlt Tb.,1,1,1,1,1
Ã?Ã?rger mit Produkt X. Roman.,Joan Aiken,Diogenes Verlag,1,1,1,1,1
Ã?Ã?sterlich leben.,Anselm GrÃ?ÃÂ¼n,"Herder, Freiburg",1,1,1,1,1
Ã?Ã?stlich der Berge.,David Guterson,btb,1,1,1,1,1
Ã?Ã?thique en toc,Didier Daeninckx,Baleine,1,1,1,1,1